label {
  display: inline-block;
  width: 100px;
}
label.radioLabel {
  width: auto;
}

input[type=range] {
  width: 350px;
}
input[type=number] {
  width: 4em;
}

select {
  width: 150px;
}

.axis {
  font: 10px sans-serif;
}

path {
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}